{
    "extends": [
        "airbnb-base",
        "prettier",
        "prettier/react",
        "plugin:react/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "import/prefer-default-export": "off",
        "import/no-default-export": "error",
        "no-nested-ternary": 0,
        "no-param-reassign": [
            2,
            {
                "props": false
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true
            }
        ],
        "quotes": [
            1,
            "single",
            {
                "avoidEscape": true
            }
        ]
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest": true,
        "node": true
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}